/*RESET*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*HEADER*/
header{
    height: 100px;
    background-color: aquamarine;
}

.mostrar_menu, .esconder_menu{
    font-size: 30px;

}